@model AssetViewModel

<table id="ViewInventoryresults" class="display" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.AssetDTO.AssetTag)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.AssetDTO.Product)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.AssetDTO.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.AssetDTO.Model)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.AssetDTO.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.AssetDTO.ItemName)
            </th>
        </tr>
    </thead>
</table>

<script type="text/javascript">
    $(document).ready(function () {
            var keywordSearch = $('#keywordSearch').val();
            var assetTag = $('#assetTag').val();
            var inventoryOwner = $('#inventoryOwner').val();
            var locationKey = $('#locationSelect').val();
            var clientSiteKey = $('#clientSiteSelect').val();
            var table = $('#ViewInventoryresults').DataTable({
                "serverside": true,
                "processing": true,
                "info": false,
                "lengthMenu": false,
                "lengthChange": false,
                "pageLength": 25,
                "order": [],
                "dom": 't<"bottom"p>',
                "searching": false,
                "ajax": {
                    url: "@Url.Action("GetResultData", "ViewInventoryDetails")",
                    type: "POST",
                    data: function (d) {
                        d.keywordSearch = keywordSearch;
                        d.assetTag = assetTag;
                        d.inventoryOwner = inventoryOwner;
                        d.locationKey = locationKey;
                        d.clientSiteKey = clientSiteKey;
                    }
                },
                "columns": [
                    {
                        "data": "assetTag", "name": "@(nameof(CGI.Asset.Inventory.DTO.AssetDTO.AssetTag))",
                        "render": function (data, _, row) {
                            return '<a class="assetTag"  data-assetTag="'+data+'" href="#" >' + data + '</a>'
                        }
                    },
                    { "data": "product", "name": "@(nameof(CGI.Asset.Inventory.DTO.AssetDTO.Product))" },
                    { "data": "manufacturer", "name": "@(nameof(CGI.Asset.Inventory.DTO.AssetDTO.Manufacturer))" },
                    { "data": "model", "name": "@(nameof(CGI.Asset.Inventory.DTO.AssetDTO.Model))" },
                    { "data": "serialNumber", "name": "@(nameof(CGI.Asset.Inventory.DTO.AssetDTO.SerialNumber))" },
                    { "data": "itemName", "name": "@(nameof(CGI.Asset.Inventory.DTO.AssetDTO.ItemName))"}
                ]
            });
            $('#ViewInventoryresults tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
            $('#renderPartialDiv').on('click','.assetTag',function () {
                $.ajax({
                    url: 'https://localhost:44388/viewInventoryDetails/getModalData',
                    data: { id: $(this).attr('data-assetTag') },
                    type: 'POST',
                    success: function (response) {
                        $('#renderModifyAssetModalDiv').html(response);
                        $('#modifyItemModal').modal();
                    }
                });
            });
        });
</script>

